<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946146213249-vj3j6r0gmeedlorf51rbembubud80pll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946146213249-vj3j6r0gmeedlorf51rbembubud80pll</string>
	<key>API_KEY</key>
	<string>AIzaSyCx8TsGQeJ5hxDXI_jZIspffaJdRnXmm4s</string>
	<key>GCM_SENDER_ID</key>
	<string>946146213249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakshi.Activitybench-2</string>
	<key>PROJECT_ID</key>
	<string>activitybench-5ed05</string>
	<key>STORAGE_BUCKET</key>
	<string>activitybench-5ed05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946146213249:ios:55604568c2f35e0682bc80</string>
</dict>
</plist>